#s-b5340289-70dd-45f0-86a1-9b8e60528344 > #backgroundBox {
  position: absolute;
}
#s-b5340289-70dd-45f0-86a1-9b8e60528344 > #alignmentBox {
  position: relative;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b5340289-70dd-45f0-86a1-9b8e60528344 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}